<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} &#9;%msg%n"/>
        </Console>
        <RollingFile name="fileLogger" fileName="jsrminer.log" filePattern="$jsrminer-%d{yyyy-MM-dd}.log" ignoreExceptions="false">>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} &#9;%msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jgit" level="ERROR"/>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="io.jsrminer.evaluation" level="DEBUG">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>